.header {
    margin-bottom: 67px;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 71px;
    }

    
    &-link {
        color: #333136;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 2px;
        margin-left: 42px;
    }
}