.project-2 {    
    bottom: -18%;
    left: 37.8%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1111px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #E7816B;

    &-box {
        padding: 72px 0 122px 95px;
    }

    &-title {
        width: 268px;
        height: 98px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    &-text {
        width: 459px;
        color: #FFF;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    &-btn {
        padding: 17px 19px;
        border: none;
        color: #333136;
        border-radius: 8px;
        background: #FFF;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        margin-right: 95px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}