.project {
    display: flex;
    align-items: start;
    gap: 0 30px;
    margin-bottom: 160px;

    &-img-2 {
        margin-bottom: 24px;
    }

    &-title {
        position: absolute;
        top: 55.5%;
        left: 41.5%;
        color: white;
        margin-bottom: 24px;
        font-family: Jost;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 2px;
        z-index: 2;
    }

    &-text {
        position: absolute;
        top: 55.5%;
        left: 41.5%;
        color: #FFF;
        font-family: Jost;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
        z-index: 2;
    }
}