@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

span {
  display: inline-block;
}

button {
  cursor: pointer;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-bottom: 67px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 71px;
}
.header-link {
  color: #333136;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  margin-left: 42px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1111px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #E7816B;
  margin-bottom: 160px;
}
.hero-box {
  padding: 145px 0 0 95px;
}
.hero-title {
  width: 600px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 11px;
}
.hero-text {
  width: 445px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.hero-btn {
  padding: 18px 24px;
  color: #333136;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
}
.hero-box-2 {
  position: absolute;
  left: 42%;
  width: 640px;
  height: 640px;
  flex-shrink: 0;
  border-radius: 640px;
  opacity: 0.3089;
  background: linear-gradient(90deg, rgba(93, 2, 2, 0) 0%, rgba(93, 2, 2, 0.5) 100%);
}

.project {
  display: flex;
  align-items: start;
  gap: 0 30px;
  margin-bottom: 160px;
}
.project-img-2 {
  margin-bottom: 24px;
}
.project-title {
  position: absolute;
  top: 55.5%;
  left: 41.5%;
  color: white;
  margin-bottom: 24px;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 2px;
  z-index: 2;
}
.project-text {
  position: absolute;
  top: 55.5%;
  left: 41.5%;
  color: #FFF;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  z-index: 2;
}

.info {
  margin-bottom: 160px;
}
.info-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.info-item {
  text-align: center;
}
.info-img {
  width: 202px;
  height: 202px;
  margin-bottom: 48px;
}
.info-title {
  margin-bottom: 32px;
  width: 350px;
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}
.info-text {
  width: 350px;
  color: #333136;
  text-align: center;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.project-2 {
  bottom: -18%;
  left: 37.8%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1111px;
  height: 292px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #E7816B;
}
.project-2-box {
  padding: 72px 0 122px 95px;
}
.project-2-title {
  width: 268px;
  height: 98px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Jost;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.project-2-text {
  width: 459px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.project-2-btn {
  padding: 17px 19px;
  border: none;
  color: #333136;
  border-radius: 8px;
  background: #FFF;
  font-family: Jost;
  font-size: 15px;
  font-style: normal;
  margin-right: 95px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer {
  position: relative;
  bottom: -320%;
  padding: 144px 0 0 0;
  width: 100%;
  height: 363px;
  background: #1D1C1E;
}
.footer-box-2 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-title {
  color: #FFF;
  font-family: Spartan;
  margin-left: 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5px;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 0 42px;
}
.footer-link {
  color: #FFF;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
}
.footer-line {
  opacity: 0.1;
  background: #FFF;
  margin-bottom: 31px;
}
.footer-title {
  width: 350px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  opacity: 0.5;
}
.footer-text {
  opacity: 0.5;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer-bottom-box {
  display: flex;
  justify-content: space-between;
}
.footer-bottom-text {
  width: 180px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  opacity: 0.5;
  opacity: 0.5;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer-bottom-text-2 {
  width: 205px;
  color: #FFF;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 162.5% */
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */